#include "Killing/version.h"

1 VERSIONINFO
 FILEVERSION KILLING_MAJOR,KILLING_MINOR,KILLING_PATCH,0
 PRODUCTVERSION KILLING_MAJOR,KILLING_MINOR,KILLING_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
